
:root{
    --gridCols: 10;
    --gridRows: 10;
}
body{
    font-family: "Caladea";
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 4vmin;
    background: linear-gradient(35deg, #0f2027, #203a43, #2c5364);
    background-attachment: fixed;
}
#buttonWithImage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.buttonHolder#holder1{
    height: 50%;
    margin-top: 2vh;
}
.buttonHolder#holder2{

    height: 25%;
    margin-top: 0;

}
.colour-picker{
    margin-top: 0%;
}
.gridlines{
    margin-top: 0%;
}
.buttonHolder{
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.7); 
    background-color: #394c53;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.eraser{
    margin-top: 0;
}

i{
    margin-left: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(var(--gridCols), 0);
    grid-template-rows: repeat(var(--gridRows), 0);

    height: 90vh;
    width: 90vh;
    border-color:#0f2027;
    border-style: solid;
    border-width: 3px;
    margin-top: 5vh;
}
.square{
    text-align: center;
    background-color: white;
}
.colour-settings{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3vh;
}
.controls{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 80vh;
    width: 20vw;
    background-color: #42565e;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);box-shadow: 5px;
}
button{
    width: 87.5%;
    text-align: left;
    font-family: "Caladea";
    font-size: 3vmin;
    margin-top: 3vh;
    background-color: #42565e;
    border-color: #0f2027;
    border-radius: 5%;
    border-style: solid;
    color: #0f2027;
    border-width: 3px;
}
button:hover{
    background-color: #384950;
    color: #091318;
}

input[type=text]{
    width: 10vmin;
    height: 6vmin;
    font-size: 4vmin;
    margin: 0 10px 0 10px;
}
input[type=color]{
    margin: 0 10px 0 0;
    width: 15vmin;
    height: 7vmin;
}
.size-settings{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}
.sizeText{
    font-size: 3vmin;
    margin-top: 0.5vh;
    margin-left: -2vw;
    align-self: left;
}
.size{
    margin-left: -2vw;
}
.title{
    margin-top: 5vh;
    font-family: "Cinzel Decorative";
    font-weight: bold;
    align-self: flex-start;
    margin-left: 5vh;
    margin-bottom: 0;
}
h3{
    font-family: "Cinzel Decorative";
    font-size: 2vmin;
    margin-top: 0;
    align-self: flex-start;
    margin-left: 5vh;
    text-align: left;
    margin-bottom: 7vh;
    border-bottom: solid;
    border-width: 2px;
    border-color: #0f2027;
}
.selected{
    background-color: #384950;
    color: #091318;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.7);
}